<div class="content-wrapper">
    <div class="panel panel-primary" style="margin-top: 2%;">
        <div class="panel-heading"style="margin-top: 3%;">
          <h2 style="margin-left: 2%;">Liste opérations</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Code opération</th>
                <th>Date opération</th>
                <th>Position</th>
               
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <!--on ecrit de code pour récuperer la valeur du champs au nv de la bdd--></td>
                <td></td>
                <td></td>
               
                <td><button class="btn btn-danger">Supprimer</button>
                  <button  style="margin-left: 10px" routerLink="/modifopr" class="btn btn-info">Modifier</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
    </div>
