<div class="content-wrapper">
    <div class="panel panel-primary" style="margin-top: 2%;">
        <div class="panel-heading"style="margin-top: 3%;">
          <h2 style="margin-left: 2%;">Liste consignataires</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Code consignataire</th>
              <th>Nom </th>
              <th>Ville</th>
              <th>Adresse</th>
              <th>Téléphone</th>
              <th>Email</th>
              <th>Libellé</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <!--on ecrit de code pour récuperer la valeur du champs au nv de la bdd--></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button  class="btn btn-danger">Supprimer</button>
                  <button  style="margin-left: 10px" routerLink="/modifcons" class="btn btn-info">Modifier</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
    </div>
