
    <div class="content-wrapper" style="margin-bottom: 10%; background-color: whitesmoke;"> 
        <div class="container">
          <div class="center">
             <h1>Formulaire de modification opérations</h1>
            
             
         <form >
           
             
             
                
                   <!-- une fois le navire séléctioné ces info seront afficher tl q son num,pavillon tiran d'eaux  jauge brute longeur et la largeur-->
                   <div class="col-5">
                    <div class="form-group">
                    <label for="codopr">Code opération</label>
              <input type="number" class="form-control" id="codopr"  placeholder="">
                    </div>
              <div class="form-group">
                 <label for="nomc">Date opération </label><br>
                 <input type="date" class="form-control" id="dateopr"  placeholder="jj-mm-aaaa">
               </div>
               <br>
               <div class="form-group">
                     <label for="pos">Position opération</label><br>
                     <input type="text" class="form-control" id="pos"  placeholder="">
               </div>
             </div>
               <br>
              
             
             
             
            
            
           
             <br>
             <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block">Enregistrer les modifications</button>
              </div>
         
             </form>
        
        
        </div>
        </div>
      </div>


