
    <div class="content-wrapper" style="margin-top: 0%;"> 
        <div class="container">
          <div class="center">
             <h1>Formulaire de modification consignataires</h1>
            
             
         <form >
           
             
             
                
                   <!-- une fois le navire séléctioné ces info seront afficher tl q son num,pavillon tiran d'eaux  jauge brute longeur et la largeur-->
                   <div class="row col-8">
                    <div class="form-group">
                     <label for="cod">Code consignataire</label>
                     <input type="number" class="form-control" id="cod"  placeholder="">
                   </div>
                   
            
 
              <div class="form-group">
               <label for="nomc">Nom consignataire </label><br>
               <input type="text" class="form-control" id="nomc"  placeholder="">
             </div>
                
               
               <br>
               
 
               <div class="form-group">
                 <label for="ville">Ville</label><br>
                     <input type="text" class="form-control" id="ville"  placeholder="">
               </div>
                     
                    
 
                     <div class="form-group">
                       <label for="adr">Adresse </label><br>
                       <input type="text" class="form-control" id="adr"  placeholder="">
                     </div>
               
              
               <br>
              
             
             
               <div class="form-group">
                 <label for="tel">Téléphone </label><br>
                 <input type="number" class="form-control" id="tel" placeholder="">
               </div>
                    
                 
 
                     <div class="form-group">
                       <label for="email">Email</label><br>
                       <input type="email" class="form-control" id="email" placeholder="">
                     </div>
                    
                     
             <br>
            
             <div class="form-group">
               <label for="libellé">libellé consignataire </label><br>
               <input type="text" class="form-control" id="libellé"  placeholder="">
             </div>
                    
           </div>
            
          
             <br>
             <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block">Enregistrer les modifications</button>
              </div>
         
             </form>
        
        
        </div>
        </div>
      </div>


